## .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs

## Logs (Serilog file sink)
logs/

## Tests / couverture
TestResults/
coverage-report/
*.coverage
*.cobertura.xml
coverage.opencover.xml
coverage.xml
.sonarqube/

## Secrets / local config
.env
appsettings.*.json
!appsettings.json
!appsettings.Acceptance.json

## JetBrains
.idea/
*.sln.iml

## OS
.DS_Store
Thumbs.db
