## .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs

## Tests / couverture
TestResults/
coverage-report/
*.coverage
*.cobertura.xml
coverage.opencover.xml
coverage.xml
.sonarqube/

## Secrets / local config
.env
appsettings.Development.json
appsettings.*.json
!appsettings.json

## JetBrains
.idea/
*.sln.iml

## OS
.DS_Store
Thumbs.db
