<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Exclude>
                <!-- Exclude test project from test coverage measurement -->
                <ModulePath>.*raidops\.unittests\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>
            <!-- Also excluse code marked as [ExcludeFromCodeCoverage] (eg : ConfigureSwaggerOptions) -->
            <Attributes>
              <Exclude>
                <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
              </Exclude>
            </Attributes>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>